/*Outer Container*/
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(12px);
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

/*Flex for equal space*/
.left-panel,
.right-panel,
.nav-logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*Aligning logo at center*/
.nav-logo {
    justify-content: center;
}

.nav-logo img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

/*Poperties for anchor tags*/
.navbar-container a {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navbar-container a:hover {
    color: #8a2be2;
}